html,
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.header-blog {
	background: #00091e;
	color: #fff;
}
.header-blog a {
	color: #fff;
}

.header-blog ul
{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 10px 0;
    padding: 0;
}

.header-blog figure img
{
    width: 120px;
}
.navbar-blog {
	background: #ff4454;
	border-radius: 0;
}
.navbar-blog li a {
	color: #fff;
	font-size: 17px;
	padding-bottom: 13px;
	border-bottom: 2px solid transparent;
}
.navbar-blog button {
	float: left;
	color: #fff;
	font-size: 25px;
	padding: 0;
	margin-left: 15px
}

.navbar-blog .nav>li>a:focus,
.navbar-blog .nav>li>a:hover
{
    background: #932b3d;
}

h1 {
	font-size: 33px;
}
.sub-principal {
	font-size: 24px;
	margin-bottom: 25px;
	margin-top: 0;
	font-weight: 600;
	font-style: italic;
	color: #5b5b5f;
}
article {
	margin: 25px 0;
}
.titulo-articulo {
	font-size: 18px;
}
.titulo-articulo a {
	color: #000;
	text-decoration: none;
}
.titulo-articulo a:hover {
	color: #5b5b5f;
}
.btn-categoria {
	color: #fff;
	background: #87868a;
}
.btn-categoria:hover {
	background: #ff4454;
	color: #fff;
}
.how {
	color: #87868a;
    font-size: 14px;
}
.how a {
	color: #87868a;
    font-size: 14px;
	text-decoration: underline;
}
.how a:hover {
	color: #ff4454;
}
.separador {
	color: #ff4454;
	font-weight: 600;
}
.subtitulo-articulo {
	font-size: 18px;
    color:#5B5B5F;
    margin-bottom: 20px;
}
article footer {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
}
.counters {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.counters li {
	display: inline-block;
	margin-right: 15px;
}
.counters li a {
	text-decoration: none;
	color: #87868a;
}
.counters li a:hover {
	text-decoration: underline;
}
.counters a i {
	color: #ff4454;
}
.btn-read {
	border-radius: 25px;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .3);
	background: #fff;
	border: 2px solid #ff4454;
	color: #ff4454;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
    text-transform: uppercase;
}
.btn-read:hover {
	background: #ff4454;
	color: #fff;
	box-shadow: none;
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.btn-read i {
	margin-left: 10px;
}
.pagination li a {
	border: 1px solid transparent;
	color: #87868a;
	font-weight: 600;
	font-size: 14px;
}

.pagination li a.active
{
    color:#ff4454;
}

.pagination li a:hover {
	background: transparent;
	border: 1px solid transparent;
	color: #ff4454;
}
.flex {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
}

#footerGeneral
{
    background: #00091e;
    color:white;
    padding-top:20px;
}

#footerGeneral article
{
    margin:10px 0;
}

#footerGeneral ul
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

#footerGeneral ul a
{
    color: #ff4454;
}

#footerGeneral ul li
{
    margin-left: 8px;
    margin-right: 8px;
}

#footerGeneral .atencionClientes
{
    color: #ff4454;
}

#footerGeneral figure img
{
    width: 100px;
}

#footerGeneral .copyright
{
    border-top: 2px solid white;
    padding-top:10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 60%;
}

/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {

    .container>.navbar-collapse
    {
        border-top: 1px solid white;
    }

	.navbar-blog li a:hover {
		background: #932b3d;
		border-bottom: 2px solid #932b3d;
		font-weight: 600;
	}
	.navbar-blog li a:active,
	.navbar-blog li a:focus {
		background: #932b3d;
		border-bottom: 2px solid #932b3d;
		font-weight: 600;
	}
	.header-blog img {
		padding: 5px 0;
		width: 50%;
	}
	.header-blog ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.header-blog ul li {
		display: inline-block;
		font-size: 14px;
		margin: 0 5px;
	}
}

.modal
{
     border-radius: 0;
}

.modal .close
{
    color:#ff4454;
}

.modal p
{
    margin-bottom:25px;
    text-align: center;
}

.modal h4
{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.modal .row label
{
    font-size: 13px;
}

.modal .row
{
    display: flex;
    padding-right: 25px;
    padding-left:25px;
    flex-direction: column;
}

.modal .row.fechaNacimiento
{
    flex-direction: row;
}

.modal .row.fechaNacimiento select
{
    margin-left:5px;
    margin-right: 5px;
}

.modal input,
.modal select
{
    height: 34px;
    padding: 6px 12px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #000;
    border-radius: 0;
    margin-bottom: 12px;
}

.modal input[type="submit"]
{
    border-radius: 25px;
    border: 2px solid #ff4454;
    margin-top:30px;
}

.modal input
{
    width: 100%;
}

.modal-content
{
    border-radius: 0;
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
	.header-blog img {
		padding: 15px 0;
		width: 30%;
	}
}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .navbar
    {
        margin-bottom: 0;
        border:0;
    }

    .navbar-nav
    {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 70%;
        display: flex;
        justify-content: space-between;
    }


    .navbar-blog li a:hover,
	.navbar-blog li a:active,
	.navbar-blog li a:focus {

		border-bottom: 2px solid #932b3d;
		font-weight: 600;
	}

    .navbar-blog .nav>li>a:focus, .navbar-blog .nav>li>a:hover
    {
        background: transparent;
    }

    .container>.navbar-collapse
    {
        border-top: none;
    }

    .header-blog ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.header-blog img {
		padding: 15px 0;
		width: 25%;
	}
	.header-blog ul li {
		display: inline-block;
		font-size: 22px;
		margin: 0 10px;
	}

    .modal .row
    {
        flex-direction: row;
    }

    .modal .row.fechaNacimiento
    {
        justify-content: space-between;
    }

    .modal .row input,
    .modal .row select
    {
        margin-left: 8px;
    }

    .modal .row input:first-child,
    .modal .row select:first-child
    {
        margin-left:0;
    }

    .modal input[type="submit"]:first-child
    {
        display: block;
        margin:25px auto 0 auto;
        width: 25%;
    }

}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
